*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    flex-direction: column;
    margin: 0;
    padding: 10px 80px;
    
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
ul{
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    gap: 16px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: white;
}
.logo {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
}
.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    flex-wrap: wrap;
}
.second-text {
    max-width: 500px;
}
.text {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 12px;
}
.subtext{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    color: white;
     background-color: #3882f6;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 8px;
     margin-top: 10px;
}
.image-holder {
    background-color: rgb(155, 152, 152);
    text-align: center;
    display: flex;
    padding: 36px;
    font-size: 12px;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
.info{
    background-color: white ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}
.random {
    font-size: 36px;
    font-weight: 900 bolder;
    text-align: center;
    margin-top: 30px;
}
.box{
    background-color: white;
    text-align: center;
    display: flex block;
    padding: 36px;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 2px solid #3882f6 ;
    border-radius: 8px;
    margin-bottom: 8px;   
}
p {
    font-size: 18px;
    text-align: center;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.quote {
     background-color: #E5E7EB ;
    color: #1F2937;

   
}
.quote-body {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding:60px 70px;
 
}
.quoting {
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    gap: 15px;
}
h4{
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
}
.last-part {
    display: flex;
    background-color: #3882f6;
    color: white;
    margin: 40px;
    padding: 50px 80px;
    border-radius: 8px;
}
.sign-up{
    color: #E5E7EB;
    border-color: #e5e7ebea;

}
