*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
    padding: 10px;
    flex-direction: column;
    margin: 0;
    padding: 5px 70px;
    
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
ul{
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    gap: 16px;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: white;
}
.logo {
    display: flex;
    font-size: 15px;
    font-weight: bold;
}
.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    flex-wrap: wrap;
}
.second-text {
    max-width: 500px;
}
.text {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 12px;
}
.subtext{
    font-size: 12px;
    color: #E5E7EB;
}
button{
    color: white;
     background-color: #3882f6;
     padding: 10px 20px;
     text-decoration: none;
     border-radius: 8px;
     margin-top: 10px;
}
.image-holder {
    background-color: rgb(155, 152, 152);
    text-align: center;
    display: flex;
    padding: 36px;
    font-size: 12px;
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    
}
.info{
    background-color: white ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin-bottom: 50px;
}
.random {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin-top: 30px;
}
.box{
    background-color: white;
    text-align: center;
    display: flex block;
    padding: 36px;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    border: 2px solid #3882f6 ;
    border-radius: 8px;
    margin-bottom: 8px;
}
p {
    font-size: 12px;
    text-align: center;
}
.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.quote {
     background-color: #E5E7EB ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-body {
    display: flex;
}

